@keyframes slideAnime{
    from{
        transform: translateX(0) rotate(0) scale(1);
    }
    to{
        transform: translateX(600px) rotate(360deg) scale(1.8);
    }
}
@keyframes cardsC{
    from{
        transform: translate(0) rotate(0) scale(1);
    }
    to{
        transform: rotateX(-25deg) ;
    }
}
*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: "Bahnschrift";
}
.cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logo{
    height: 30%;
    width: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:30px ;
    margin-top: 7px;
    transition: all 2s;
}
.logo:hover{
    transform: rotateY(180deg);
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #263238;
    margin-top: -25px;
}
.nvbtn{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 30px;
    padding-right: 10px;
    margin-top: -40px;
    transition: all 2s;
}
.word{
    color: #43A046;
    text-align: center;
    padding-top: 15px;
}
.button{
    background-color: #43A046;
    border-radius: 5px;
    padding: 12px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    animation-name: slideAnime;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    box-shadow: 15px 1px 9px #afd5b0;
    position: sticky;
}
.buttons{
    background-color: #43A046;
    border-radius: 5px;
    padding: 12px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
nav{
    padding: 5px;
    font-size: 20px;
    box-shadow: 10px 10px 7px #919295;
    width: 100%;
    gap: 50px;
    position: fixed;
    background-color: aliceblue;
}
.align{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.title{
    color: #4d4d4d;
}
.clr{
    color: #43A046;
}
.heading{
    margin-left: 20px;
    font-size: 30px;
    padding: 30px;
}
.cntrhd{
    font-size: 20px;
    text-align: center;
}
.sidehd{
    font-size: 20px;

}
.line{
    font-size: 18px;
    color: #89939e;
}
.dot1{
    height: 15px;
    width: 15px;
    background-color: #43A046;
    border-radius: 100%;
}
.dot2{
    height: 15px;
    width: 15px;
    background-color: #9ab19b;
    border-radius: 100%;
}
.dots{
    display: flex;
    align-items: inherit;
    justify-content: center;
    gap: 5px;
}
.clients{
   gap: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container{
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 7px #cbd0d8;
    height: 350px;
    width: 350px;
    justify-content: space-evenly;
    gap: 10px;
}
.container2{
    padding: 10px;
    text-align: left;
    margin-right: 100px;
    height:300px;
    width: 700px;
    float: right;
}
.container3{
    padding: 10px;
    text-align: left;
    margin-left: 100px;
    height:200px;
    width: 600px;
    display: flex;
    align-items: center;
}
.container4{
    padding: 10px;
    text-align: left;
    margin-right: 90px;
    height:300px;
    width: 900px;
    float: right;
    color: #7e8487;
}
.crd{
    animation-name: cardsC;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
}
.container img{
    height: 100px;
    width: 100px
}
.box{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10%;
}

.img2{
    margin-left:80px;
    height: 400px;
    width: 400px;
}
.container3{
    padding: 10px;
    text-align: left;
    margin-left: 100px;
    height:200px;
    width: 600px;
    display: flex;
    align-items: center;
}
.sp{
    font-size: 17px;
    color: #4d4d4d;
}
.container4 .imgs{
    height: 60px;
    width: 1000px;
    display: flex;
    align-items: inherit;
}
.line2{
    color: #6b6464;
    text-align: center;
    font-size: 20px;
}
.card{
    border:#ebf1f4 solid;
    background-color: #ebf1f4;
    padding:20px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #89939e;
    opacity: 1;
}
.bgimg1{
   height: 300px;
   width: 350px;
   background-image: url(images/p.1.jpg);
   border-radius: 10px;
   display: flex;
   align-items: center;
   background-size: cover;
   justify-content: center;
   padding-top: 300px;
}
.bgimg2{
    height: 300px;
   width: 350px;
   background-image: url(images/p.2.jpg);
   border-radius: 10px; 
   display: flex;
   align-items: center;
   background-size: cover;
   justify-content: center;
   padding-top: 300px;
}
.bgimg3{
    height: 300px;
   width: 350px;
   background-image: url(images/p.3.jpg);
   border-radius: 10px;
   display: flex;
   align-items: center; 
   background-size: cover;
   justify-content: center;
   padding-top: 300px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.Lorem{
    text-align: center;
    font-size: 60px;
    color: #141b1e;
}
.footer{
    background-color: #1e3238;
    display: flex;
    gap: 100px;
    padding: 30px;
}
.footer img{
    height: 60px;
    width: 200px;
}
.footer p{
    font-size: 18px;
    color: #ebf1f4;
    letter-spacing: 2px;
}
.footer h2{
    font-size: 22px;
    color:#ebf1f4 ;
}
.coloum{
    height: 200px;
    width: 150px;
    gap:30px;
}
.ipt{
    font-size: 25px;
    border-radius: 10px;
    background-color:#92939666 ;
    height: 50px;
    width: 400px;

}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
.imaget{
    position: static;
    display: flex;
    align-items: left;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin-left: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    justify-content: start;
}
.img{
    width: 480px;
    height: 433px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    display: flex;
    align-items: left;
    justify-content: end;
    position: static;
}
.items{
    float: right;
    gap: 20px;
    display: flex;
    color: #4d4d4d;
}
